@model Models.PurchaseOrderLines

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PurchaseOrderLines</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderedQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderedQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecivedQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecivedQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceTypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseOrderPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseOrderPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpectedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpectedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscountTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountTypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscountValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntryAuthor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntryAuthor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastAuthor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastAuthor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Products.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Products.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseOrders.CurrencyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseOrders.CurrencyId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
