@model Models.ReceiptPlans

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ReceiptPlans</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExpectedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpectedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntryAuthor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntryAuthor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastAuthor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastAuthor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceiptPlanStatus.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceiptPlanStatus.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Suppliers.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Suppliers.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReceiptPlanId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
