@model IEnumerable<Models.VReceiptPlans>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class="btn btn-default"})
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VReceiptPlanId)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ReceiptPlanStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Supplier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Orders)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lines)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpectedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastAuthor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastUpdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EntryAuthor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EntryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WmsUpdate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.VReceiptPlanId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ReceiptPlanStatus)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Supplier)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Orders)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Lines)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ExpectedDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LastAuthor)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LastUpdate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EntryAuthor)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EntryDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.WmsUpdate)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ReceiptPlanId }, new { @class = "btn btn-default" })
    </td>
</tr>
}

</table>
