@model Models.SalesOrderLines

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SalesOrderLines</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderedQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderedQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecivedQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecivedQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseOrderPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseOrderPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpectedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpectedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntryAuthor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntryAuthor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastAuthor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastAuthor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Products.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Products.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalesOrders.CurrencyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalesOrders.CurrencyId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
