@*@model Models.PurchaseOrders

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PurchaseOrders</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExpectedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpectedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrencyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrencyId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrencyRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrencyRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntryAuthor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntryAuthor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastAuthor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastAuthor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseOrderStatus.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseOrderStatus.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Suppliers.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Suppliers.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index", null, new { @class="btn btn-default"})
        </div>
    }
</div>*@
