@model Models.ReceiptPlanLines

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ReceiptPlanLines</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PurchaseOrderLineNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseOrderLineNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpectedQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpectedQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecivedQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecivedQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntryAuthor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntryAuthor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastAuthor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastAuthor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseOrders.CurrencyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseOrders.CurrencyId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceiptPlans.EntryAuthor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceiptPlans.EntryAuthor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
